<div class="hs-unfold">
  <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
     data-hs-unfold-options='{
       "target": "#appsDropdown",
       "type": "css-animation"
     }'>
    <i class="tio-menu-vs-outlined"></i>
  </a>

  <div id="appsDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu" style="width: 25rem;">
    <!-- Header -->
    <div class="card-header">
      <span class="card-title h4">apps &amp; services</span>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body card-body-height">
      <!-- Nav -->
      <div class="nav nav-pills flex-column">
        <a class="nav-link" href="apps-targeting.html">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs avatar-4by3" src="@@autopath/assets/img/160x160/target.png" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">Targeting app</span>
              <span class="d-block font-size-sm text-body">manage quantitate risk</span>
            </div>
          </div>
        </a>

        <a class="nav-link" href="apps-planning.html">
          <div class="media align-items-center">
            <span class="mr-3">
              <img class="avatar avatar-xs avatar-4by3" src="@@autopath/assets/img/160x160/plan.png" alt="Image Description">
            </span>
            <div class="media-body text-truncate">
              <span class="h5 mb-0">Planning app <span class="badge badge-primary badge-pill text-uppercase ml-1">Try</span></span>
              <span class="d-block font-size-sm text-body">manage qualitative risk</span>
            </div>
          </div>
        </a>

        

        
        

        
      </div>
      <!-- End Nav -->
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <a class="card-footer text-center" href="#">
      View all apps
      <i class="tio-chevron-right"></i>
    </a>
    <!-- End Footer -->
  </div>
</div>