<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Post-Funding | Front - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@@autopath/favicon.ico">

    <!-- Font -->
    <link href="@@vars.googleFont" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!-- bundlecss:vendor [@@autopath] -->
    <link rel="stylesheet" href="@@autopath/assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="@@autopath/node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="@@autopath/node_modules/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="@@autopath/node_modules/chart.js/dist/Chart.min.css">
    <link rel="stylesheet" href="@@autopath/node_modules/daterangepicker/daterangepicker.css">
    @@if (layoutBuilder.header.layoutMode !== 'default') {
      <link rel="stylesheet" href="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    }

    <!-- CSS Front Template -->
    <!-- bundlecss:theme [@@autopath] @@vars.version -->
    <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
  </head>

  <body class="@@if(layoutBuilder.header.layoutMode === 'default'){has-navbar-vertical-aside navbar-vertical-aside-show-xl} @@if(layoutBuilder.sidebarLayout === 'compact'){navbar-vertical-aside-compact-mode navbar-vertical-aside-compact-mini-mode} @@if(layoutBuilder.sidebarLayout === 'mini'){navbar-vertical-aside-mini-mode} footer-offset">
    @@if (layoutBuilder.sidebarLayout !== 'compact' && layoutBuilder.sidebarLayout !== 'mini') {
      <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
    }

    <!-- Search Form -->
    @@include("@@autopath/partials/layouts-components/mobile-search.html")
    <!-- End Search Form -->

    <!-- ========== HEADER ========== -->
    @@if (layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/header/main.html")
    }

    @@if (layoutBuilder.header.layoutMode === 'single') {
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/header/main-fluid.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/header/main-container.html")
      }
    }

    @@if (layoutBuilder.header.layoutMode === 'double') {
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/header/double-line-fluid.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/header/double-line-container.html")
      }
    }
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <!-- Navbar Vertical -->
    @@if (layoutBuilder.sidebarLayout !== 'compact' && layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/sidebar/main.html", {
        "category": "dashboards",
        "subcategory": "",
        "link": "post-funding.html"
      })
    }

    @@if (layoutBuilder.sidebarLayout === 'compact' && layoutBuilder.header.layoutMode === 'default') {
      @@include("@@autopath/partials/sidebar/compact.html", {
        "category": "dashboards",
        "subcategory": "",
        "link": "post-funding.html"
      })
    }
    <!-- End Navbar Vertical -->

    <main id="content" role="main" class="main">
      <!-- Content -->
      <div class="bg-dark">
        <div class="content @@layoutBuilder.header.containerMode" style="height: 25rem;">
          <!-- Page Header -->
          <div class="page-header page-header-light">
            <div class="row align-items-center">
              <div class="col">
                <h1 class="page-header-title">Dashboard</h1>
              </div>

              <div class="col-auto">
                <!-- Daterangepicker -->

                <!-- End Daterangepicker -->
              </div>
            </div>
            <!-- End Row -->

            <!-- Nav Scroller -->
            <div class="js-nav-scroller hs-nav-scroller-horizontal">
              <span class="hs-nav-scroller-arrow-prev hs-nav-scroller-arrow-dark-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="tio-chevron-left"></i>
                </a>
              </span>

              <span class="hs-nav-scroller-arrow-next hs-nav-scroller-arrow-dark-next" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="tio-chevron-right"></i>
                </a>
              </span>

              <!-- Nav -->
              <ul class="nav nav-tabs nav-tabs-light page-header-tabs" id="pageHeaderTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="dashboard-alternative.html">Risk<span class="badge badge-warning badge-pill ml-1">
                    <i class="warning mr-1"></i> Pre-Funding
                  </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="funding.html">MarketPlace<span class="badge badge-success badge-pill ml-1">
                    <i class="warning mr-1"></i> Funding
                  </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="javascript:;">
                    Balance<span class="badge badge-danger  badge-pill ml-1">
                      <i class="warning mr-2"></i>Post-Funding
                    </span>
                  </a>
                </li>
              </ul>
              <!-- End Nav -->
            </div>
            <!-- End Nav Scroller -->
          </div>
          <!-- End Page Header -->
        </div>
      </div>
      <!-- End Content -->

      <!-- Content -->
      <div class="content @@layoutBuilder.header.containerMode" style="margin-top: -17rem;">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
               <!-- Content -->
      <div class="content @@layoutBuilder.header.containerMode">
        <!-- Page Header -->
        <div class="page-header">
          <div class="media mb-3">
            <!-- Avatar -->
            <div class="avatar avatar-xl avatar-4by3 mr-2">
              <img class="avatar avatar-xl avatar-circle mr-3" src="@@autopath/assets/img/offer-partners/capChase2.png" alt="Image Description">
            </div>
            <!-- End Avatar -->

            <div class="media-body">
              <div class="row mt-2">
                <div class="col-lg mb-3 mb-lg-0">
                  <h1 class="page-header-title">Bank Balance</h1>


                  <div class="row align-items-center">
                    <div class="col-auto">
                      <!-- Select -->
                      <div class="select2-custom">
                        <select class="js-select2-custom custom-select-sm" size="1" style="opacity: 0;" id="ownerLabel"
                        data-hs-select2-options='{
                          "minimumResultsForSearch": "Infinity",
                          "customClass": "custom-select custom-select-sm custom-select-borderless pl-0",
                          "dropdownAutoWidth": true,
                          "width": true
                        }'>
                          <option value="owner2" data-option-template='<span class="media align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/assets/img/offer-partners/clearcoDetail.png" alt="Avatar" /><span class="media-body">Clearco</span></span>'>Clearco</option>
                          <option value="owner2" data-option-template='<span class="media align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/assets/img/offer-partners/yardlineDetail.png" alt="Avatar" /><span class="media-body">Yardline</span></span>'>Yardline</option>
                          <option value="owner1"  data-option-template='<span class="media align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/assets/img/offer-partners/kickpay.png" alt="Avatar" /><span class="media-body">KickPay</span></span>'>KickPay</option>
                          <option value="owner1" selected data-option-template='<span class="media align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="@@autopath/assets/img/offer-partners/capChase2.png" alt="Avatar" /><span class="media-body">Capchase</span></span>'>Capchase</option>

                        </select>
                       </div>
                      <!-- End Select -->
                    </div>
                    <div class="col-auto mr-4">
                      <span>Target:</span>
                      <a href="#">500K</a>
                    </div>

                    <div class="col-auto">
                      <div class="row align-items-center g-0">
                        <div class="col-auto">Due date:</div>

                        <!-- Flatpickr -->
                        <div id="projectDeadlineFlatpickr" class="js-flatpickr flatpickr-custom flatpickr-custom-borderless col input-group input-group-sm"
                              data-hs-flatpickr-options='{
                                "appendTo": "#projectDeadlineFlatpickr",
                                "dateFormat": "d/m/Y",
                                "wrap": true
                              }'>
                          <input type="text" class="flatpickr-custom-form-control form-control" placeholder="Select dates" data-input value="29/06/2020">
                          <div class="input-group-append" data-toggle>
                            <div class="input-group-text">
                              <i class="tio-chevron-down"></i>
                            </div>
                          </div>
                        </div>
                        <!-- End Flatpickr -->
                      </div>
                    </div>


                  </div>
                </div>

                <div class="col-lg-auto">
                  <small class="text-cap mb-2">Capital Partners:</small>

                  <div class="d-flex">
                    <!-- Avatar Group -->
                    <div class="avatar-group avatar-circle mr-3">
                      <a
                      class="avatar"
                      href="user-profile.html"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Capchase"
                    >
                      <img
                        class="avatar-img"
                        src="@@autopath/assets/img/offer-partners/capChase2.png"
                        alt="Image Description"
                      />
                    </a>
                    <a
                    class="avatar"
                    href="user-profile.html"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="YardLine"
                  >
                    <img
                      class="avatar-img"
                      src="@@autopath/assets/img/offer-partners/yardlineDetail.png"
                      alt="Image Description"
                    />
                  </a>
                    <a
                      class="avatar"
                      href="user-profile.html"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="clearco"
                    >
                      <img
                        class="avatar-img"
                        src="@@autopath/assets/img/offer-partners/clearcoDetail.png"
                        alt="Image Description"
                      />
                    </a>

                    <a
                      class="avatar"
                      href="user-profile.html"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="kickpay"
                    >
                      <img
                        class="avatar-img"
                        src="@@autopath/assets/img/offer-partners/kickpay.png"
                        alt="Image Description"
                      />
                    </a>

                    <a
                      class="avatar avatar-light avatar-circle"
                      href="javascript:;"
                      data-toggle="modal"
                      data-target="#shareWithPeopleModal"
                    >
                      <span class="avatar-initials">+2</span>
                    </a>
                    </div>
                    <!-- End Avatar Group -->

                    <a class="btn btn-icon btn-primary rounded-circle" href="javascript:;" data-toggle="modal" data-target="#shareWithPeopleModal">
                      <i class="tio-share"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Media -->

          <!-- Nav -->
          <!-- Header -->

          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <div class="row align-items-sm-center mb-4">
              <div class="col-sm mb-3 mb-sm-0">
                <div class="d-flex align-items-center">
                  <span class="h1 mb-0">$7,431.14 USD</span>

                  <span class="text-success ml-2">
                    <i class="tio-trending-up"></i> 25.3%
                  </span>
                </div>
              </div>

              <div class="col-sm-auto">
                <!-- Legend Indicators -->
                <div class="row font-size-sm">
                  <div class="col-auto">
                    <span class="legend-indicator bg-primary"></span> Income
                  </div>
                  <div class="col-auto">
                    <span class="legend-indicator bg-info"></span> Expenses
                  </div>
                </div>
                <!-- End Legend Indicators -->
              </div>
            </div>
            <!-- End Row -->

            <!-- Bar Chart -->
            <div class="chartjs-custom" style="height: 18rem;">
              <canvas id="updatingData"
                      data-hs-chartjs-options='{
                        "type": "line",
                        "data": {
                           "labels": ["Feb","Jan","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
                           "datasets": [{
                            "backgroundColor": ["rgba(55, 125, 255, .5)", "rgba(255, 255, 255, .2)"],
                            "borderColor": "@@vars.style.color",
                            "borderWidth": 2,
                            "pointRadius": 0,
                            "hoverBorderColor": "@@vars.style.color",
                            "pointBackgroundColor": "@@vars.style.color",
                            "pointBorderColor": "#fff",
                            "pointHoverRadius": 0
                          },
                          {
                            "backgroundColor": ["rgba(0, 201, 219, .5)", "rgba(255, 255, 255, .2)"],
                            "borderColor": "#00c9db",
                            "borderWidth": 2,
                            "pointRadius": 0,
                            "hoverBorderColor": "#00c9db",
                            "pointBackgroundColor": "#00c9db",
                            "pointBorderColor": "#fff",
                            "pointHoverRadius": 0
                          }]
                        },
                        "options": {
                          "gradientPosition": {"y1": 200},
                           "scales": {
                              "yAxes": [{
                                "gridLines": {
                                  "color": "#e7eaf3",
                                  "drawBorder": false,
                                  "zeroLineColor": "#e7eaf3"
                                },
                                "ticks": {
                                  "min": 0,
                                  "max": 100,
                                  "stepSize": 20,
                                  "fontColor": "#97a4af",
                                  "fontFamily": "Open Sans, sans-serif",
                                  "padding": 10,
                                  "postfix": "k"
                                }
                              }],
                              "xAxes": [{
                                "gridLines": {
                                  "display": false,
                                  "drawBorder": false
                                },
                                "ticks": {
                                  "fontSize": 12,
                                  "fontColor": "#97a4af",
                                  "fontFamily": "Open Sans, sans-serif",
                                  "padding": 5
                                }
                              }]
                          },
                          "tooltips": {
                            "prefix": "$",
                            "postfix": "k",
                            "hasIndicator": true,
                            "mode": "index",
                            "intersect": false,
                            "lineMode": true,
                            "lineWithLineColor": "rgba(19, 33, 68, 0.075)"
                          },
                          "hover": {
                            "mode": "nearest",
                            "intersect": true
                          }
                        }
                      }'>
              </canvas>
            </div>
            <!-- End Bar Chart -->
          </div>
          <!-- End Body -->

          <!-- Table -->


          <!-- Card Footer -->

          <!-- End Card Footer -->
        </div>
        <!-- End Card -->

        <div class="row">
          <div class="col-lg-4 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="card h-100">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Payments</h4>

                <!-- Unfold -->
                <div class="hs-unfold">
                  <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;"
                     data-hs-unfold-options='{
                       "target": "#reportsOverviewDropdown1",
                       "type": "css-animation"
                     }'>
                    <i class="tio-more-vertical"></i>
                  </a>

                  <div id="reportsOverviewDropdown1" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="tio-share dropdown-item-icon"></i> Share reports
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-download-to dropdown-item-icon"></i> Download
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-alt dropdown-item-icon"></i> Connect other apps
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Unfold -->
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="card-body text-center">
                <!-- Badge -->
                <div class="h3">
                  <span class="badge badge-soft-info badge-pill">
                    <i class="tio-checkmark-circle"></i> On track
                  </span>
                </div>
                <!-- End Badge -->

                <!-- Chart Half -->
                <div class="chartjs-doughnut-custom" style="height: 12rem;">
                  <canvas class="js-chartjs-doughnut-half"
                          data-hs-chartjs-options='{
                          "type": "doughnut",
                          "data": {
                            "labels": ["Current status", "Goal"],
                            "datasets": [{
                              "data": [64, 35],
                              "backgroundColor": ["@@vars.style.color", "gulpRGBA[@@vars.style.color,.35]"],
                              "borderWidth": 4,
                              "hoverBorderColor": "#ffffff"
                            }]
                          }
                        }'></canvas>

                  <div class="chartjs-doughnut-custom-stat mt-n4">
                    <small class="text-nowrap text-cap">Project balance</small>
                    <h1>$150,238</h1>
                  </div>
                </div>
                <!-- End Chart Half -->

                <hr>

                <div class="row">
                  <div class="col text-right">
                    <span class="d-block h4 mb-0">$72.46</span>
                    <span class="d-block">last transaction</span>
                  </div>

                  <div class="col column-divider text-left">
                    <span class="d-block h4 text-success mb-0">
                      <i class="tio-trending-up"></i> 12%
                    </span>
                    <span class="d-block">since last visit</span>
                  </div>
                </div>
                <!-- End Row -->
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>

          <div class="col-lg-8 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="card h-100">
              <!-- Header -->
              <div class="card-header">
                <h4 class="card-header-title">Latest transactions</h4>

                <!-- Unfold -->
                <div class="hs-unfold">
                  <a class="js-hs-unfold-invoker btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="javascript:;"
                     data-hs-unfold-options='{
                       "target": "#reportsOverviewDropdown3",
                       "type": "css-animation"
                     }'>
                    <i class="tio-more-vertical"></i>
                  </a>

                  <div id="reportsOverviewDropdown3" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right mt-1">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="tio-share dropdown-item-icon"></i> Share reports
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-download-to dropdown-item-icon"></i> Download
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="tio-alt dropdown-item-icon"></i> Connect other apps
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="tio-chat-outlined dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Unfold -->
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="card-body card-body-height">
                <ul class="list-group list-group-flush list-group-no-gutters">
                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                        <span class="avatar-initials">B</span>
                      </div>
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Bob Dean</h5>
                            <span class="font-size-sm">Transfer to bank account</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="mb-0">-$290.00 USD</h5>
                            <span class="font-size-sm">15 May, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-warning badge-pill">Pending</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <img class="avatar avatar-sm avatar-circle mr-3" src="@@autopath/assets/svg/brands/slack.svg" alt="Image Description">
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Slack</h5>
                            <span class="font-size-sm">Subscription payment</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="mb-0">-$11.00 USD</h5>
                            <span class="font-size-sm">12 May, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-success badge-pill">Completed</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <img class="avatar avatar-sm avatar-circle mr-3" src="@@autopath/assets/svg/brands/bank-of-america.svg" alt="Image Description">
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Bank of America</h5>
                            <span class="font-size-sm">Withdrawal to bank account</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="text-success mb-0">$3500.00 USD</h5>
                            <span class="font-size-sm">10 May, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-success badge-pill">Completed</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <img class="avatar avatar-sm avatar-circle mr-3" src="@@autopath/assets/svg/brands/spotify.svg" alt="Image Description">
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Spotify</h5>
                            <span class="font-size-sm">Subscription payment</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="mb-0">-$10.00 USD</h5>
                            <span class="font-size-sm">12 May, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-danger badge-pill">Failed</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                        <span class="avatar-initials">R</span>
                      </div>
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Rachel Doe</h5>
                            <span class="font-size-sm">Transfer to bank account</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="text-success mb-0">$290.00 USD</h5>
                            <span class="font-size-sm">28 April, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-success badge-pill">Completed</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->

                  <!-- List Item -->
                  <li class="list-group-item">
                    <div class="media">
                      <!-- Avatar -->
                      <img class="avatar avatar-sm avatar-circle mr-3" src="@@autopath/assets/img/160x160/img9.jpg" alt="Image Description">
                      <!-- End Avatar -->

                      <div class="media-body">
                        <div class="row">
                          <div class="col-7 col-md-5 order-md-1">
                            <h5 class="mb-0">Ella Lauda</h5>
                            <span class="font-size-sm">Transfer to bank account</span>
                          </div>

                          <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                            <h5 class="mb-0">-$250.00 USD</h5>
                            <span class="font-size-sm">01 May, 2020</span>
                          </div>

                          <div class="col-auto col-md-3 order-md-2">
                            <span class="badge badge-soft-success badge-pill">Completed</span>
                          </div>
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                  </li>
                  <!-- End List Item -->
                </ul>
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- End Row -->
      </div>


      </div>
      <!-- End Content -->

      <!-- Footer -->
      @@if (layoutBuilder.header.containerMode === 'container-fluid') {
        @@include("@@autopath/partials/footer/main.html")
      }

      @@if (layoutBuilder.header.containerMode === 'container') {
        @@include("@@autopath/partials/footer/container.html")
      }
      <!-- End Footer -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Keyboard Shortcuts -->
    @@include("@@autopath/partials/layouts-components/sidebar-shortcuts.html")
    <!-- End Keyboard Shortcuts -->

    <!-- Activity -->
    @@include("@@autopath/partials/layouts-components/sidebar-activity.html")
    <!-- End Activity -->

    <!-- Welcome Message Modal -->
    @@include("@@autopath/partials/modals/modal-welcome.html")
    <!-- End Welcome Message Modal -->
       <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Global Compulsory @@deleteLine:build -->
    <script src="@@autopath/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="@@autopath/node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="@@autopath/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <!-- bundlejs:vendor [@@autopath] -->
    <script src="@@autopath/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-form-search/dist/hs-form-search.min.js"></script>
    <script src="@@autopath/node_modules/select2/dist/js/select2.full.min.js"></script>
    <script src="@@autopath/assets/vendor/hs-nav-scroller/dist/hs-nav-scroller.min.js"></script>
    <script src="@@autopath/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="@@autopath/node_modules/flatpickr/dist/flatpickr.min.js"></script>
    <script src="@@autopath/node_modules/daterangepicker/moment.min.js"></script>
    <script src="@@autopath/node_modules/daterangepicker/daterangepicker.js"></script>
    <script src="@@autopath/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="@@autopath/assets/vendor/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
    <script src="@@autopath/node_modules/clipboard/dist/clipboard.min.js"></script>
    <script src="@@autopath/node_modules/appear/dist/appear.min.js"></script>
    <script src="@@autopath/node_modules/circles.js/circles.min.js"></script>
    @@if (layoutBuilder.header.layoutMode !== 'default') {
      <script src="@@autopath/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    }

    <!-- JS Front -->
    <!-- bundlejs:theme [@@autopath] -->
    <script src="@@autopath/assets/js/hs.core.js"></script>
    <script src="@@autopath/assets/js/hs.select2.js"></script>
    <script src="@@autopath/assets/js/hs.chartjs.js"></script>
    <script src="@@autopath/assets/js/hs.jvector-map.js"></script>
    <script src="@@autopath/assets/js/hs.flatpickr.js"></script>
    <script src="@@autopath/assets/js/hs.clipboard.js"></script>
    <script src="@@autopath/assets/js/hs.circles.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // =======================================================


        // BUILDER TOGGLE INVOKER
        // =======================================================
        $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
          $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
        });

        @@if (layoutBuilder.header.layoutMode !== 'default') {
          // INITIALIZATION OF MEGA MENU
          // =======================================================
          var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
            desktop: {
              position: 'left'
            }
          }).init();
        }


        // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
        // =======================================================
        var sidebar = $('.js-navbar-vertical-aside').hsSideNav();


        // INITIALIZATION OF TOOLTIP IN NAVBAR VERTICAL MENU
        // =======================================================
        $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

        $(".js-nav-tooltip-link").on("show.bs.tooltip", function(e) {
          if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
            return false;
          }
        });


        // INITIALIZATION OF UNFOLD
        // =======================================================
        $('.js-hs-unfold-invoker').each(function () {
          var unfold = new HSUnfold($(this)).init();
        });


        // INITIALIZATION OF FORM SEARCH
        // =======================================================
        $('.js-form-search').each(function () {
          new HSFormSearch($(this)).init()
        });

         // INITIALIZATION OF SELECT2
        // =======================================================
        $('.js-select2-custom').each(function () {
          var select2 = $.HSCore.components.HSSelect2.init($(this));
        });


        // INITIALIZATION OF FLATPICKR
        // =======================================================
        $('.js-flatpickr').each(function () {
          $.HSCore.components.HSFlatpickr.init($(this));
        });


        // INITIALIZATION OF NAV SCROLLER
        // =======================================================
        $('.js-nav-scroller').each(function () {
          new HsNavScroller($(this)).init()
        });

        // INITIALIZATION OF CHARTJS
        // =======================================================
        $('.js-chart').each(function () {
          $.HSCore.components.HSChartJS.init($(this));
        });


        // INITIALIZATION OF CHARTJS
        // =======================================================
        var updatingChartDatasets = [
          [
            [12,19,25,29,32,37,40,43,43,43,56,56],
            [80,80,80,80,80,80,80,80,80,80,80,80]
          ],
          [
            [77,40,50,49,27,38,60,42,50,29,42,27],
            [80,80,80,80,80,80,80,80,80,80,88,80]
          ]
        ]


        // INITIALIZATION OF CHARTJS
        // =======================================================
        var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'), {
          data: {
            datasets: [
              {
                data: updatingChartDatasets[0][0]
              },
              {
                data: updatingChartDatasets[0][1]
              }
            ]
          }
        });

        // Call when tab is clicked
        $('[data-toggle="chart"]').click(function(e) {
          let keyDataset = $(e.currentTarget).attr('data-datasets')

          // Update datasets for chart
          updatingChart.data.datasets.forEach(function(dataset, key) {
             dataset.data = updatingChartDatasets[keyDataset][key];
          });
          updatingChart.update();
        })


        // INITIALIZATION OF CHARTJS
        // =======================================================
        $.HSCore.components.HSChartJS.init($('.js-chartjs-doughnut-half'), {
          options: {
            tooltips: {
              postfix: "%"
            },
            cutoutPercentage: 85,
            rotation: 1 * Math.PI,
            circumference: 1 * Math.PI
          }
        });


        // INITIALIZATION OF DATERANGEPICKER
        // =======================================================
        $('.js-daterangepicker').daterangepicker();

        $('.js-daterangepicker-times').daterangepicker({
          timePicker: true,
          startDate: moment().startOf('hour'),
          endDate: moment().startOf('hour').add(32, 'hour'),
          locale: {
            format: 'M/DD hh:mm A'
          }
        });

        var start = moment();
        var end = moment();

        function cb(start, end) {
          $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
        }

        $('#js-daterangepicker-predefined').daterangepicker({
          startDate: start,
          endDate: end,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
        }, cb);

        cb(start, end);


        // INITIALIZATION OF JVECTORMAP
        // =======================================================
        var markers = [
          {
            "latLng": [38, -97],
            "name": "United States",
            "active": 200,
            "new": 40,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg",
            "code": "US"
          },
          {
            "latLng": [20, 77],
            "name": "India",
            "active": 300,
            "new": 100,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/in.svg",
            "code": "IN"
          },
          {
            "latLng": [60, -105],
            "name": "Canada",
            "active": 400,
            "new": 500,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/ca.svg",
            "code": "CA"
          },
          {
            "latLng": [51, 9],
            "name": "Germany",
            "active": 120,
            "new": 600,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/de.svg",
            "code": "DE"
          },
          {
            "latLng": [54, -2],
            "name": "United Kingdom",
            "active": 140,
            "new": 100,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/gb.svg",
            "code": "GB"
          },
          {
            "latLng": [1.3, 103.8],
            "name": "Singapore",
            "active": 56,
            "new": 0,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/sg.svg",
            "code": "SG"
          },
          {
            "latLng": [9.0, 8.6],
            "name": "Nigeria",
            "active": 34,
            "new": 2,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/ng.svg",
            "code": "NG"
          },
          {
            "latLng": [61.5, 105.3],
            "name": "Russia",
            "active": 135,
            "new": 46,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/ru.svg",
            "code": "RU"
          },
          {
            "latLng": [35.8, 104.1],
            "name": "China",
            "active": 325,
            "new": 75,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/cn.svg",
            "code": "CN"
          },
          {
            "latLng": [-10, -51],
            "name": "Brazil",
            "active": 242,
            "new": 17,
            "flag": "@@autopath/node_modules/flag-icon-css/flags/1x1/br.svg",
            "code": "BR"
          }
        ]

        $('.js-jvectormap').each(function () {
          var jVectorMap = $.HSCore.components.HSJVectorMap.init($(this), {
            markers: markers,
            onRegionTipShow: function(e, el, code){
              let marker = markers.find(function (marker) {
                return marker.code == code
              });

              if (marker) {
                el.html(
                  '<span class="d-flex align-items-center mb-2">' +
                    '<img class="avatar avatar-xss avatar-circle mr-2" src="' + marker['flag'] + '" alt="Flag">' +
                    '<span class="h5 mb-0">' + marker['name'] + '</span>' +
                  '</span>' +
                  '<dl class="row" style="max-width: 10rem;">' +
                    '<dt class="col-sm-6 mb-0">Active:</dt>' +
                    '<dd class="col-sm-6 text-sm-right mb-0">' + marker['active'] + '</dd>' +
                    '<dt class="col-sm-6 mb-0">New:</dt>' +
                    '<dd class="col-sm-6 text-sm-right mb-0">' + marker['new'] + '</dd>' +
                  '</dl>'
                );
              } else {
                return false;
              }
            },
            onMarkerTipShow: function(e, el, code){
              el.html(
                '<span class="d-flex align-items-center mb-2">' +
                  '<img class="avatar avatar-xss avatar-circle mr-2" src="' + markers[code]['flag'] + '" alt="Flag">' +
                  '<span class="h5 mb-0">' + markers[code]['name'] + '</span>' +
                '</span>' +
                '<dl class="row" style="max-width: 10rem;">' +
                  '<dt class="col-sm-6 mb-0">Active:</dt>' +
                  '<dd class="col-sm-6 text-sm-right mb-0">' + markers[code]['active'] + '</dd>' +
                  '<dt class="col-sm-6 mb-0">New:</dt>' +
                  '<dd class="col-sm-6 text-sm-right mb-0">' + markers[code]['new'] + '</dd>' +
                '</dl>'
              );
            }
          });
        });
      });
    </script>

    <!-- IE Support -->
    <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="@@autopath/assets/vendor/babel-polyfill/polyfill.min.js"><\/script>');
    </script>
  </body>
</html>
